#
# application.yml — главный конфигурационный файл Spring Boot.
#

server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: bank-cards

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/card_db}
    username: ${SPRING_DATASOURCE_USERNAME:admin}
    password: ${SPRING_DATASOURCE_PASSWORD:secret}

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: never

  liquibase:
    enabled: true
    change-log: classpath:db/migration/db.changelog-master.yaml

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
  override-with-generic-response: false

logging:
  level:
    root: INFO
    org.springframework: INFO
    liquibase: INFO
    com.zaxxer.hikari: INFO

    # точечно приглушаем шумные места
    org.springframework.security: WARN
    org.springframework.security.web.FilterChainProxy: WARN
    liquibase.precondition: WARN

jwt:
  secret: ${JWT_SECRET:0123456789ABCDEF0123456789ABCDEF}
  expiration: ${JWT_EXPIRATION_MS:86400000}

encryptor:
  password: ${ENCRYPTOR_PASSWORD:change_me}
  salt: ${ENCRYPTOR_SALT:change_me}

app:
  admin:
    email: ${APP_ADMIN_EMAIL:admin@local}
    name: ${APP_ADMIN_NAME:admin}
    password: ${APP_ADMIN_PASSWORD:change_me}
  hashEncoder:
    pepper: ${APP_HASHENCODER_PEPPER:change_me}